@{
    ViewData["Title"] = "List of posts";
    List<FA.JustBlog.Core.Models.Category> categories = ViewBag.Categories as List<FA.JustBlog.Core.Models.Category>;
    List<FA.JustBlog.Core.Models.Tag> tags = ViewBag.Tags as List<FA.JustBlog.Core.Models.Tag>;
    var comments = ViewBag.Comments as List<FA.JustBlog.Core.Models.Comment>;
    //save post
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Post

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/post/css/styles.css" rel="stylesheet" />
    <style>
        /* Comments Section */
        .comments-section {
            margin-top: 50px;
        }

        /* Individual Comment */
        .comment {
            margin-bottom: 20px;
        }

        .comment-author {
            font-weight: bold;
        }

        .comment-date {
            color: #777;
            font-size: 14px;
        }

        .comment-content {
            margin-top: 5px;
        }

        /* Add Comment Form */
        .add-comment {
            margin-top: 30px;
        }

            .add-comment h4 {
                margin-bottom: 15px;
            }

            .add-comment textarea {
                width: 100%;
                min-height: 100px; /* Adjust as needed */
            }

    </style>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="index.html">Luna project training</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@Url.Action("Index", "Post")">Home</a></li>
                    @foreach (var ie in categories) {
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@Url.Action("PostIncludeCates", "Post", new { CateId = ie.Id })">@ie.Name</a></li>
                    }
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Tag/PopularTags">Popular Tags</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@Url.RouteUrl("Admin_AllList")">Manage</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </a>
                        <ul class="dropdown-menu" style="border-radius: 3px" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " href="@Url.Action("Logout", "Account")">Logout</a></li>
                            <li><a class="dropdown-item" href="#">Reset Password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/post/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Assignment 2</h1>
                        <span class="subheading">Learn more about .net</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">Details</h2>
                    </a>
                </div>

                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="@Url.RouteUrl("Post", new { year = Model.PostedOn.Year, month = Model.PostedOn.Month.ToString("00"), Title = Model.Title })">
                        <h2 class="post-title">@Model.Title</h2>
                    </a>
                    @{
                        var timePost = Model.PostedOn;
                        int time = DateTime.Now.Hour - timePost.Hour;
                        if (time == 0) {
                            time = DateTime.Now.Minute - timePost.Minute;
                            <sub class="post-subtitle">Posted @time minutes ago with rate @Model.Rate by @Model.ViewCount view(s)</sub>
                        }
                        if (time < 24 && time > 0) {
                            <sub class="post-subtitle">Posted @time Hours ago with rate @Model.Rate by @Model.ViewCount view(s)</sub>
                        } else if (DateTime.Now.Day - timePost.Day == 24) {
                            <sub class="post-subtitle">Posted yesterday with rate @Model.Rate by @Model.ViewCount view(s)</sub>
                        } else {
                            <sub class="post-subtitle">Posted @Model.PostedOn with rate @Model.Rate by @Model.ViewCount view(s)</sub>
                        }
                        <p>@Model.ShortDescription</p>
                    }
                </div>
                <!-- Comment here -->
                <!-- Comments Section -->
                <div class="comments-section">
                    <h3>Comments</h3>

                    <!-- Individual Comment -->
                    <form id="commentRealTime">
                        @if (comments.Count == 0) {
                            <div class="comment">
                                <div class="comment-content">
                                    No comments yet.
                                </div>
                            </div>
                        }
                        <!-- Individual Comment -->
                        <!-- Individual Comment -->
                        @foreach (var comment in comments) {
                            <div class="comment card" id="comment-@comment.Id">
                                <div class="card-body">
                                    <h5 class="card-title">@comment.Name</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@comment.CommentTime</h6>
                                    <p class="card-text" data-comment-text="@comment.CommentText">@comment.CommentText</p>
                                    @{
                                        if (ViewBag.Email == comment.Email) {
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                <a href="@Url.Action("UpdateComment", "Comment", new { idC = comment.Id, postId = @Model.Id })" class="btn btn-primary edit-comment" data-comment-text="@comment.CommentText"><i class="fas fa-edit"></i> Edit</a>
                                                <a href="@Url.Action("DeleteComment", "Comment", new { idC = comment.Id, postId = @Model.Id })" onclick="verifySubmit()" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }


                    </form>

                    <!-- End Individual Comment -->
                    <!-- Add Comment Form -->
                    <div class="add-comment">
                        <h4>Add a Comment</h4>
                        <form asp-action="AddComment" asp-controller="Comment" method="post">
                            <div class="form-group">
                                <textarea id="comment-content" name="content" class="form-control" placeholder="Write your comment here..." required></textarea>
                            </div>
                            <input type="hidden" value="@Model.Id" name="postId" />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- End Add Comment Form -->
                </div>
                <!-- End Comments Section -->
                <!--End Comment here -->
                <!-- Pager-->
            </div>
        </div>
    </div>
    <!-- Footer-->
    @Html.Partial("_PartialFooter")




    <!-- Edit Comment Modal -->
    <div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCommentModalLabel">Edit Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea id="edited-comment-content" class="form-control" placeholder="Edit your comment..."></textarea>
                    <input type="hidden" id="edited-comment-id" />
                    <input type="hidden" id="edited-comment-postId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveEditedComment">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetAllComment", "Comment")',
                type: 'GET',
                dataType: { id: @Model.Id },
                success: function (data) {
                    $('#commentRealTime').empty();
                    $.each(data, function (Details, Post) {
                        var commentHtml = '<div class="comment">' +
                            '<div class="comment-author">' + comment.Name + '</div>' +
                            '<div class="comment-date">' + comment.CommentTime + '</div>' +
                            '<div class="comment-content">' + comment.CommentText + '</div>' +
                            '</div>';
                        $('#commentRealTime').append(commentHtml);
                    });
                }
            });
        });



        $(document).ready(function () {
            // ... your existing code ...

            // Edit Comment
            $('.edit-comment').click(function (e) {
                e.preventDefault();

                // Extract the commentId and postId from the edit link's href attribute
                var href = $(this).attr('href');
                var commentId = href.split('=')[1].split('&')[0];
                var postId = href.split('=')[2];

                // Populate the textarea in the modal with the comment text
                $('#edited-comment-content').val($(this).data('comment-text'));

                // Set the commentId and postId in the modal's hidden input fields
                $('#edited-comment-id').val(commentId);
                $('#edited-comment-postId').val(postId);

                $('#editCommentModal').modal('show');
            });

            $('#saveEditedComment').click(function () {
                var commentId = $('#edited-comment-id').val();
                var updatedContent = $('#edited-comment-content').val();
                var postId = $('#edited-comment-postId').val();

                $.ajax({
                    url: '@Url.Action("UpdateComment", "Comment")',
                    type: 'POST',
                    data: { commentId: commentId, updatedContent: updatedContent },
                    success: function (data) {
                        if (data.success) {
                            // Update the data-comment-text attribute of the edit link
                            $(`.edit-comment[data-comment-text="${updatedContent}"]`).data('comment-text', updatedContent);
                            // Update the comment text in the view
                            $(`#comment-${commentId} .card-text`).text(updatedContent);
                            // Close the modal
                            $('#editCommentModal').modal('hide');
                            // Reload the page
                            location.reload();
                        } else {
                            alert(data.message);
                        }
                    }
                });
            });
        });


    </script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/post/js/scripts.js"></script>
</body>
</html>
