@{
    ViewData["Title"] = "List of posts";
    List<Post> posts = ViewBag.Posts as List<Post>;
    List<Post> posts5 = ViewBag.Posts5 as List<Post>;
    List<Post> postsLastest = ViewBag.PostsLastest as List<Post>;
    List<FA.JustBlog.Core.Models.Category> categories = ViewBag.Categories as List<FA.JustBlog.Core.Models.Category>;
    List<FA.JustBlog.Core.Models.Tag> tags = ViewBag.Tags as List<FA.JustBlog.Core.Models.Tag>;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../post/css/styles.css" rel="stylesheet" />

    <style>
        /* Custom CSS for table */
        .table th, .table td {
            vertical-align: middle;
        }

        .pagination-container {
            margin-top: 20px;
            text-align: center;
        }

        .pagination .page-item {
            display: inline-block;
            margin: 0 5px;
        }

        .pagination .page-link {
            padding: 8px 16px;
            color: #007bff;
            border: 1px solid #007bff;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

            .pagination .page-link:hover {
                background-color: #007bff;
                color: #fff;
            }

        .pagination .page-item.active .page-link {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

    </style>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="index.html">Luna project training</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@Url.Action("Index", "Post")">Home</a></li>
                    @foreach (var ie in categories)
                    {
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@Url.Action("PostIncludeCates", "Post", new { CateId = ie.Id })">@ie.Name</a></li>
                    }
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Tag/PopularTags">Popular Tags</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@Url.RouteUrl("Admin_AllList")">Manage</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </a>
                        <ul class="dropdown-menu" style="border-radius: 3px" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " href="@Url.Action("Logout", "Account")">Logout</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("ChangePassword", "Account")">Reset Password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../post/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Assignment 2</h1>
                        <span class="subheading">Learn more about .net</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">All Posts!</h2>
                    </a>
                </div>
                @{
                    <div class="page-size-container">
                        <label for="pageSize">Page Size:</label>
                        <form id="formSize" asp-action="Index" asp-controller="Post" method="get">
                            <select name="pageSize" onchange="submit(document.getElementById('formSize'))">
                                @{
                                    foreach (var item in ViewBag.PageSize)
                                    {
                                        if (item == ViewBag.CurrentPageSize && ViewBag.CurrentPageSize != null)
                                        {
                                            <option value="@item" selected>@item</option>
                                        }
                                        else
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                }
                            </select>
                        </form>
                    </div>
                }
                <br />
                <!--search here-->
                <form id="searchForm" class="mb-4">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input type="text" id="searchTitle" name="searchTitle" class="form-control" placeholder="Search by Title">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" id="searchShortDes" name="searchShortDescription" class="form-control" placeholder="Search by Short Description">
                            </div>
                        </div>
                        <div class="col">
                            <button onclick="submitSearch()" type="button" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                <!--end search-->

                @foreach (var post in Model)
                {
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a @* href="@Url.RouteUrl("Post", new { year = post.PostedOn.Year, month = post.PostedOn.Month.ToString("00"), Title = post.Title })"*@
                        href="@Url.Action("Details", "Post", new {id = post.Id})">
                            <h2 class="post-title">@post.Title</h2>
                        </a>
                            @{
                                var timePost = post.PostedOn;
                                int time = DateTime.Now.Hour - timePost.Hour;
                                if(time == 0)
                                {
                                    time = DateTime.Now.Minute - timePost.Minute;
                                                    <sub class="post-subtitle">Posted @time minutes ago with rate @post.Rate by @post.ViewCount view(s)</sub>
                                }
                                if(time < 24 && time > 0)
                                 {
                                                     <sub class="post-subtitle">Posted @time Hours ago with rate @post.Rate by @post.ViewCount view(s)</sub>
                                 }

                                 else if(DateTime.Now.Day - timePost.Day == 24)
                                 {
                                                     <sub class="post-subtitle">Posted yesterday with rate @post.Rate by @post.ViewCount view(s)</sub>
                                 }
                                 else
                                 {
                                                     <sub class="post-subtitle">Posted @post.PostedOn with rate @post.Rate by @post.ViewCount view(s)</sub>
                                 }
                            }
                        <div>Category MVC</div>
                        <p>
                            Tags:
                            @foreach (var tag in tags)
                            {
                                <button style="background-color: black">
                                    @Html.ActionLink(tag.Name, "Tag", "Find", new { tag = tag.UrlSlug }, new { style = "color: white; text-decoration: underline" })
                                </button>
                            }
                        </p>
                    </div>
                }
                <nav aria-label="Page navigation">
                    <div class="pagination-container">
                        <ul class="pagination justify-content-center">
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", "Post", new { page = i, pageSize = ViewBag.SelectedPageSize })">@i</a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 mx-auto">
        @{
            Html.RenderPartial("_PartialAboutCard");
        }
    </div>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">Top 5 post has highest viewCount</h2>
                    </a>
                </div>
                @{  
                    Html.RenderPartial("_ListPosts", posts5);
                                    <h2 class="post-title">Top 5 post has lastest</h2>
                    Html.RenderPartial("_ListPosts", postsLastest);
                }
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    @Html.Partial("_PartialFooter")
    <!-- Bootstrap core JS-->
    <script>
        function submit(form) {
            form.submit
        }   
        
        function submitSearch() {
            var searchTitle = document.getElementById("searchTitle").value;
            var searchShortDes = document.getElementById("searchShortDes").value;
            window.location.href = "/Post/Search?title=" + searchTitle + "&shortDescription=" + searchShortDes;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../post/js/scripts.js"></script>
</body>
</html>
